*{
	/* reset 所有的样式 */
	margin: 0;
	padding: 0;
}

body{
	background-color: #fff;
	font-size: 14px;
	color: #333333;
	font-family: "arial, helvetica, sans-serif";
}

a{
	color: #333;
	text-decoration: none;
}

.w{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.left{
	float: left;
}

.right{
	float: right;
}
/* 恢复父容器塌陷的高度 */
.clear:after{
	display: block;
	content: " ";
	clear: both;
}

/* 顶部 */
.top{
	font-size: 12px;
	min-width: 1200px;
	height: 38px;
	line-height: 38px;
	background-color: #e1f3fd;
}

.top li{
	float: left;
	list-style: none;
	padding:0 11px;
	position: relative;
}

.top li span.fa{
	color: #D82936;
}
/* hover效果 */
.top li:hover span.fa:before{
	content: "\f106";
}

.top li:hover{
	background-color: gainsboro;
}
.top li:hover .sub-nav{
	display: block;
}
/* 二级菜单 */
.top .sub-nav{
	position: absolute;
	top: 38px;
	left: 0px;
	width: 100px;
	text-align: center;
	background-color: gainsboro;
	z-index: 9999;
	display: none;
}
.top .sub-nav li{
	width: inherit;
	padding: 0;
}
.top .sub-nav li:hover{
	background-color: #e1f3fd;
}
.top .sub-nav li:hover a{
	color: #d82936;
}
.top .wechat li{
	height: 38px;
	padding-top:6px;
	box-sizing: border-box;
}
.top .wechat li:hover{
	background-color:#e1f3fd ;
}
.top .wechat li:hover .qrcode{
	display: block;
}
.top .qrcode{
	display: none;
	top: 38px;
	right: 0px;
	position:absolute;
	width: 110px;
	height: 110px;
}
.top .qrcode img{
	width: inherit;
	height: inherit;
}

/* 头部  */
.header{
	height: 114px;
	padding: 22px 0;
	box-sizing: border-box;
	background-color: blue;
}
.header .logo{
	height: 70px;
}
.header .logo img{
	height: 70px;
}
.header .slogan{
	font-size: 16px;
	margin-left: 32px;
	line-height: 70px;
}

.header ul{
	line-height: 70px;
	list-style: none;
}
.header ul li{
	float: left;
	font-size: 16px;
	margin-right: 36px;
}
.header li span.fa{
	font-size: 30px;
	color: #efc15f;
	margin-right: 8px;
}
.header li.phone-400{
	font-size: 18px;
}
.header li.phone-400 span{
	font-size: 25px;
	color: #dd2527;
}

/*  banner */
.banner{
	height: 350px;
	background-color: red;
	position: relative;
}

.banner ul{
	list-style:none;
}
.banner ul li{
	width: 100%;
	height: 350px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
.banner ul li:first-child{
	display: block;
}
.banner ul li img{
	width: inherit;
	height: inherit;
}

.banner .points{
	position: absolute;
	bottom: 20px;
	left: 50%;
}
.banner .points span{
	display: block;
	float: left;
	width: 12px;
	height: 12px;
	margin: 0 6px;
	border-radius: 50%;
	border: solid 1px #FFFFFF;
}
.banner .points span.active{
	border-color:#de2824;
	background-color: #de2824;
}


/* 课程  */
.class{
	margin-top: 28px;
	height: 450px;
	position: relative;
}
.class > div{
	height: inherit;
}

.class .class-news{
	padding-left:240px;
	padding-right: 228px;
}

.class .class-list{
	width: 220px;
	position: absolute;
	left: 0px;
	top: 0;
}

.class .class-list .category{
	font-size: 16px;
	list-style: none;
}
.class .class-list .category li{
	padding-left: 18px;
	height:41px;
	line-height: 41px;
	box-sizing: border-box;
	border-left: solid 1px #d8d8d8;
	border-right:solid 1px #d8d8d8 ;
	border-bottom: solid  1px #d8d8d8;
}
.class .class-list .category  li:first-child{
	border-left:none;
	border-right:none;
	background-color: #dd2726;
	color: #FFFFFF;
}

.class .class-list .category li:first-child span.fa{
	margin-right: 18px;
	color: #fff;
	font-size: 18px;
	margin-left: 0;
}


.class .class-list .category li span{
	font-size: 10px;
	margin-left: 26px;
	color: #959ba9;
}

.class .class-list .category li.hover{
	background-color: gainsboro;
	color:#d82936;
}


.class .sub-list{
	height: 410px;
	width: 620px;
	position: absolute;
	padding: 20px;
	box-sizing: border-box;
	top: 41px;
	left: 220px;
	background-color: green;
	display: none;
}

.class .sub-list ul{
	display: none;
}

.class .sub-list li:nth-child(2n+1){
	float: left;
}
.class .sub-list li:nth-child(2n){
	float: right;
}

.class .sub-list li{
	list-style: none;
    width: 270px;
    padding-left: 1em;
    box-sizing: border-box;
    height: 42;
    line-height: 42px;
    border-top:1px solid gray;
    background: none;
    font-size: 12px;
    color: #999;
}

.sub-list li:hover{
	color:#d82936;
}


.class .class-hot{
	width: 200px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.class .class-news .class-news_1{
	height: 66px;
	list-style: none;
	padding: 0;
	margin: 0;
}
.class .class-news .class-news_1 li{
	float: left;
	width: 150px;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 20px;
	font-size: 16px;
	font-weight: bold;
	border-bottom:2px gray solid ;
}
.class .class-news .class-news_1 li:hover{
	color: red;
	border-bottom:2px red solid ;
}
.class .class-news .class-news1 {
	width: inherit;
}
.class .class-news .class-news1 .class-news_2{
	list-style: none;
	width: inherit;
	padding: 0;
	margin: 0;

}
.class .class-news .class-news1 .class-news_2 li{
	padding: 0;
	margin: 0;
	width: 50%;
	height: 86px;
	margin-top: 10px;
}
.class .class-news .class-news1 .class-news_2 li .class-news_2-1{
	width: 18%;
	float: left;
	text-align: center;
	height: inherit;
}
.class .class-news .class-news1 .class-news_2 li .class-news_2-1 span{
	font-size: 12px;
	
	color: #bfada8;
}
.class .class-news .class-news1 .class-news_2 li .class-news_2-2{
	width: 82%;
	float: right;
}
.class .class-news .class-news1 .class-news_2 li .class-news_2-3{
	width: 82%;
	float: right;
	color: #bfada8;
	font-size: 12px;
}
.class .class-news .class-news1 .class-news_2 li span{
	color: f0ddbf;
}
.class .class-news .class-news1 .class-news_2 li:nth-child(2n+1){
	float: left;
}
.class .class-news .class-news1 .class-news_2 li:nth-child(2n){
	float:right;
}
.class .class-hot .class-hot_1{
	width: inherit;
	height: 66px;
	margin-left: 5px;
	line-height: 66px;
	font-size: 16px;
	font-weight: bold;
}
.class .class-hot .class-hot_2{
	position: relative;
	width: inherit;
	height: 125px;
	margin-top: 3px;
	background-color: red;	
}
.class .class-hot .class-hot_3{
	position: relative;
	width: inherit;
	height: 125px;
	margin-top: 3px;
	background-color: red;		
}
.class .class-hot .class-hot_4{
	position: relative;
	width: inherit;
	height: 125px;
	margin-top: 3px;
	background-color: red;		
}
.class .class-hot .class-hot_2 img{
	width: inherit;
	height: inherit;
}
.class .class-hot .class-hot_2 div{
	position: absolute;
	bottom: 0px;
	width: inherit;
	height: 25px;
	line-height: 25px;
	background-color: #BFADA8;
	opacity: 0.5;
	color: black;
}
.class .class-hot .class-hot_2 div:hover{
	height: 50px;
	line-height: 50px;
}
.course{
	height: 560px;
	margin-top:40px ;
	margin-bottom: 50px;
}
.course .course-top{
	width: inherit;
	height:50px;
	background-color: red;
	margin-bottom: 25px;
}
.course .course-top  ul{
	padding: 0;
	margin: 0;
	list-style: none;
	height: 49px;
	border-bottom: #959BA9 1px solid;
}
.course .course-top ul li{
	height: inherit;
	line-height: 50px;
	font-size: 14px;
	color: #959BA9;
	float: left;
	margin: 0 25px;
}
.course .course-top ul li:first-child{
	height: inherit;
	line-height: 50px;
	font-size: 20px;
	color:#000000;
	float: left;
	margin-left: 2px;
	margin-right: 153px;
}

.course .course-img{
	width: 1200px;
	height: 250px;
	margin-bottom: 40px;
}

.course .course-img ul{
	padding: 0;
	margin: 0;
	list-style: none;
	width:inherit;
	height: inherit;
}
.course .course-img ul li{
	font-size: 15px;
	width: 270px;
	float: left;
	height: inherit;
	margin: 0 15px;
	position: relative;
}
.course .course-img ul li img{
	margin-bottom: 10px;
}
.course .course-img ul li .img_1{
	font-size: 10px;
	color: #808080;
	position: absolute;
	bottom: 0;
	height: 12px;
}
.course .course-img ul li a{
	position: absolute;
	font-size: 10px;
	color: #808080;
	right: 0;
	bottom: 0;
}
.course .course-bottom{
	width: inherit;
	height: 150px;
	margin-bottom: 16px;
	
}
.course .course-bottom .course-bottom-1{
	width: 570px;
	height: 150px;	
	float: left;
}
.course .course-bottom .course-bottom-2{
	width: 570px;
	height: 150px;
	float: right;
}

.course .news{
	height: 34px;
	line-height: 34px;
	position: relative;
	overflow: hidden;
	background-color: yellow;
}
.course .register{
	width: 110px;
	height: 34px;
	background-color: blue;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.course ul.news-list{
	position: absolute;
	top: 0;
	left: 0;
	list-style: none;
	width: 20000px;
}
.course ul.news-list li{
	float: left;
	margin-right: 26px;
}
.product{
	height: 690px;
	background-color: aqua;
}
