.z2-main{
	height: 1510px;
	margin-top: 20px;
	margin-top: 40px;
}
.z2-main .z2-main-left{
	width: 300px;
	height: inherit;
	float: left;

}
.z2-main .z2-main-left ul{
	width: 223px;
    height: 410px;
    padding: 0;
    list-style: none;
    margin-left: 75px;
    border: solid 1px #f3f3f3;	
    
}

.z2-main .z2-main-left ul li{
	width: 200px;
	height: 45px;
	line-height: 45px;
	padding-left: 24px;
}
.z2-main .z2-main-left ul li:first-child{
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-weight: bold;
}
.z2-main .z2-main-left ul li:first-child:hover{
	background-color: #FFFFFF;
}
.z2-main .z2-main-left ul li:hover{
	background-color: #f3f3f3;
}
.z2-main .z3-main-right{
	width: 900px;
	height: 1510px;
	float: right;
	position: relative;
}
.z2-main .z3-main-right ul{
	padding: 0;
	margin: 0;
	list-style: none;
	display: none;
}
.z2-main .z3-main-right ul li{	
	float: left;
	width: 280px;
	height: 300px;
	padding: 10px;
}
.z2-main .z3-main-right ul li img{
	width: 280px;
	height: 200px;
}
.z2-main .z3-main-right ul li:first-child{
	width:900px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-weight: bold;
}

.z2-main .z3-main-right ul:nth-child(1){
	display: block;
}
